<h1 class="titulo" >
  Contactanos
</h1>

<div class = "formulario">
  <form>
    <h1> Envíanos tus datos</h1>
    <label> Nombre</label>
      <input type="text">
    <label> e-mail</label>
      <input type="email">
    <label> Mensaje</label>
      <input type="text" class="texto">
    <button>Enviar</button>
  </form>
</div>

<div class="datos">
  <pre>
    Estamos en: 
      Calle Sin nombre nº 55
      28003 Madrid
      6123456789
      correo@correo.com
  </pre>
</div>
<footer>
  <button routerLink="/login">Volver al login</button>
</footer>
