<h1 id = "nombre"> {{nombre}}</h1>
<header>
    <div class="cabecera">
        <p> <span class = "negrita">Teléfono :</span> {{telefono}} </p>
        <p> <span class = "negrita">F.Nacimiento: </span> {{fechaNac}}</p>
        <p> <span class = "negrita">Domicilio: </span> {{domicilio}}</p>
        <p> <span class = "negrita">e-mail: </span> {{email}}</p>
    </div>
</header>
<br/>

<main>
    <div>
        <h2>Formación Académica</h2>
        <p>2022 <span class = "margen"> {{forAcadem1}}</span></p>
        <p>2016 <span class = "margen"> {{forAcadem2}}</span></p>
        <p>2013 <span class = "margen"> {{forAcadem3}}</span></p>
        <p>2010 <span class = "margen"> {{forAcadem4}}</span></p>

        <h2 class="exLab">Experiencia Laboral</h2>
        <p> 2022 <span class = "margen"> {{exLab1}}</span></p>
        <p> 2016 <span class = "margen"> {{exLab2}}</span> </p>
        <p> 2013 <span class = "margen"> {{exLab3}}</span> </p>

        <h2>Conocimientos de Informática</h2>
        <p> <span class = "cursiva">Sistemas operativos: </span> {{SO}}</p>
        <p> <span class = "cursiva">Lenguajes: </span> {{lenguajes}} </p>
        <p> <span class = "cursiva">Protocolos de internet: </span> {{protocolos}}  </p>
        <p> <span class = "cursiva">Pruebas Unitarias e integración: </span> {{pruebas}}</p>
        <p> <span class = "cursiva">Programas Utilizados: </span> </p>
        <ul>
            <li> {{BBDD}}</li>
            <li> {{IDE}}</li>
            <li> {{virtualizacion}}</li>
            <li> {{redes}} </li>
            <li> {{remoto}}</li>
            <li> {{seguridad}}</li>
            <li> {{web}}</li>
            <li> {{ogl}}</li>
            <li> {{sweb}} </li>
            <li> {{office}}</li>
        </ul>
        
        <h2>Idiomas</h2>
        <p>Inglés: <span class = "margen"> {{ingles}}</span> </p>
        <br/>
    </div>
</main>
