h1{
    color:crimson;
}

div{
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    background-color: aquamarine;
    font-weight: bold;

}

div.operandos{
    border-top:    5px solid;
    border-right:  5px solid; 
    border-left: 5px solid;
}
div.calculo{
    border-right:  5px solid; 
    border-left: 5px solid;
}
div.resultado{
    border-bottom:    5px solid;
    border-right:  5px solid; 
    border-left: 5px solid;
}

button{
    margin: 4px 2px;
    font-weight: bold;
    box-shadow: 5px 5px 5px black;
    background-color: coral;
    text-align: center;
    padding: 10px 20px;
}
